* {
	font-size: 16px;
	font-family: JetBrains Mono;
}

window#waybar {
	background: #000000;
	color: #ffffff;
}

#custom-line {
    color: #222222;
}

#workspaces button {
    padding: 0 3px;
}
#workspaces button.active {
    color: #ffffff;
}
#workspaces button:hover {
    color: #222222;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    padding: 0 10px;
}
